@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar-marker {
  position: relative;
  width: 50px;
  height: 50px;
}

.avatar-marker img {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  object-fit: cover;
  border: 3px solid white;
}

.pulse {
  position: absolute;
  inset: -8px;
  border-radius: 9999px;
  background: rgba(37, 99, 235, 0.3);
  animation: pulse 2s infinite;
  z-index: -1;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}